<br>
<a [routerLink]="['/project/']" class="btn btn-primary mr-2"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;Atras</a>
<br>
<h1> Proyectos </h1>

<div *ngIf="proyectos?.length; else noproject">
  <ul class="list-group">
    <li *ngFor="let p of proyectos" class="list-group-item">
      {{p.name}} -- {{p.tasks.length}} tareas
      <button type="button" (click)="editProject(event,p)" class="btn btn-info mx-2">Editar</button>
      <button type="button" (click)="deleteProject(event,p)" class="btn btn-danger mx-2">Eliminar</button>
    </li>
  </ul>
</div>


<ng-template #noproject>
  <h2>No hay proyectos</h2>
</ng-template>